.button{
    border-radius: 50px; /* 모서리 둥글기*/
    padding: 5px;   /*여백*/
    min-width: 120px;   /*요소의 최소 너비*/
    color: white;   /*색*/
    font-weight: 600;   /*폰트의 가중치 or 굵기*/
    -webkit-appearance: none;   /*화살표 제거?*/
    cursor: pointer;    /*손가락 모양 포인터*/
}

.button:active,
.button:focus{
    outline: none;
}

.button--success{
    background-color: #2ecc71;
}
.button--danger{
    background-color: #e74c4c;
}